{% extends 'base.html' %}

{% block content %}
<!-- Photo, Ksenia Ksenia, unsplash -->
<body class="vh-100" style="background-image: url('https://i.postimg.cc/QtkfQLJ5/ksenia-ksenia-0-Df-V5-AQfyi-U-unsplash-1.jpg'); background-size: cover; background-attachment: fixed;">
    <div class="card home">
        {% if object %}
        <h4 class="">Edit <span class="">{{ drink.name }}</span></h4>
        {% for photo in drink.photo_set.all %}
        <img class="card card-img-top-detail img-responsive" src="{{photo.url}}">
        {% empty %}
    <div class="card card-img-top-detail bg-light" style="height: 16rem; width: 16rem">No Photos Uploaded</div>
        {% endfor %}
        {% comment %} This allows the file to be uploaded {% endcomment %}
        <form action="{% url 'add_photo' drink.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <button type="submit" class="btn btn-outline-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Upload Photo</button>
        </form>
     
        <br>
        {% else %}
    <br>
   
    <h3 class="">Add a Drink</h3>
        {% endif %}
        <table>
        <!-- Leaving the action empty makes the form post to the same url used to display it -->
            <form class="" action="" method="POST">
            <!-- Django requires the following for security purposes -->
                {% csrf_token %}
                    <table>
                        {{ form.as_p}}
                    </table>
                    <br><br>
                <div class="button">
                    <input type="submit" value="Submit" class="btn btn-outline-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                </div>    
            </form>
        </table>    
    </div> 
</body>

{% endblock %}