{% extends 'base.html' %}

{% block content %}
<body class="">
  <div class="card home">
    <h3 class="">delete drink</h3>

    <h6 class="">Are you sure you want to delete the drink <span class="">{{ object.name }}</span>?</h6>

    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes - Delete!" class="btn btn-outline-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
      <a class="btn btn-outline-warning" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" href="{% url 'details' drink.id %}">Cancel</a>
    </form>
  </div>
</body>
{% endblock %}