{% extends 'base.html' %}

{% block content %}
<!-- Photo, Kofookoo De, unsplash -->
<body class="vh-100" style="background-image: url('https://i.postimg.cc/GhjMfTVD/kofookoo-de-6-Egx-Rn-KU5-BI-unsplash.jpg'); background-size: cover; background-position: fixed;">
    <div class="card home">
        {% if object %}
            <h4 class="">Edit <span class="">{{ review.title }}</span></h4>
        {% else %}
            <h3 class="">Add a Review</h3>
        {% endif %}
        <!-- add the action attribute as follows -->
        <form class="" action="{% url 'review_update' review.id %}"method="POST">
        {% csrf_token %}
                <table class="">
                    <p class="">{{ form.as_p }}</p>
                </table>
            <input type="submit" class="btn btn-outline-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" value="Edit Review">
        </form>
    </div>
</body>
{% endblock %}