{% extends 'base.html' %}

{% block content %}
<!-- Photo, Ross Sneddon, unsplash -->
<body class="vh-100" style="background-image: url('https://i.postimg.cc/brvgDSwj/ross-sneddon-Vuidt9-WUq-Rk-unsplash.jpg'); background-size: cover; background-position: fixed;"></body>
<br><br> 
<h4>Log In</h4>
<br>
  <div class="card home text-left">
  <!-- Log-in form  -->
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <div class="button">
        <button type="submit" class="btn btn-outline-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Log In</button>
      </div>
    </form>
  </div>  
{% endblock %}