{% extends 'base.html' %}

{% block content %}
<!-- Photo, Nicole Herrero, unsplash -->
<body class="vh-100" style="background-image: url('https://i.postimg.cc/269Fc3Xw/nicole-herrero-r-WWLpx-Sefp8-unsplash.jpg'); background-size: cover; background-position: fixed;"></body>
  
<br><br> 
<div class="card home text-left">
<h4>Make an account</h4>
<br>
    <br>
    <p class="red-text">{{ error_message }}</p>
      <table>
        <form action="{% url 'signup' %}" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="button">
            <input type="submit" class="btn btn-outline-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" value="Sign Up">
          </div>
        </form>
      </table>
      <br>
    </div>
</body>
{% endblock %}