{% extends 'base.html' %}

{% block content %}
<!-- Photo, Dave Lastovskiy, unsplash -->
<body class="vh-100" style="background-image: url('https://i.postimg.cc/gJzvGfbk/dave-lastovskiy-Ryg-Id-Tavhk-Q-unsplash.jpg'); background-size: cover; height: 500px"></body>
<br><br>
<div class="about">
    <div class="">
    <h3 class="">Personalized Cocktail Companion</h3>
    <br>
        <p class="">
            Imagine effortlessly transforming your liquor cabinet into a world-class bar, with every cocktail 
            at your fingertips. Meet our groundbreaking app, your key to mixology mastery. With this 
            innovative solution, you can input your list of alcohols and mixers, and it will curate a 
            tailored list of drinks you can create right now. 
        </p>
        
        <p class="">
            Our app takes the guesswork out of mixology, offering a simple yet sophisticated solution. 
            Explore ingredient lists and discover cocktails related to singular ingredients. For example, 
            if you possess vodka, Cointreau, Cranberry juice, lime juice, and Jack Daniel’s, our app 
            will pinpoint cocktails like the Cosmopolitan and Cape Cod that you can concoct with ease. 
        </p>
        
        <p class="">
            Elevate your cocktail game, and uncover new favorites with our app. 
            Embrace the future of mixology today!
        </p>
        <div class="" style="height: 75px;"></div>
    </div>
</div>
{% endblock %}