{% extends 'base.html' %}

{% block content %}
<!-- Photo, Aleisha Kalina, unsplash -->
<body class="" style="background-image: url('https://i.postimg.cc/vHYP2V6V/sam-hojati-pb7o-Jwt-NVU4-unsplash.jpg'); background-size: cover; background-attachment: fixed;"></body>
    <br><br>
    <h4 class="">Drink Details</h4>
    <br>
<div class="row">
  <div class="card home float-container border-none">
    <div class="">
        <br>
      <h3 class="">{{ drink.name }}</h3>
        <br>
        {% for photo in drink.photo_set.all %}
        <img class="card card-img-top-detail img-responsive" src="{{photo.url}}">
        {% empty %}
        <div class="card card-img-top-detail bg-light" style="height: 18rem; width: 27rem">No Photos Uploaded</div>
        {% endfor %}

        <br>
        <h4 class="">Recipe</h4>
        <!-- Cite resource for listing items in array Django: https://docs.djangoproject.com/en/4.2/ref/templates/language/ -->
        <!-- Cite resourec for bootstrap layout to show 2 divs side by side: https://coder-coder.com/display-divs-side-by-side/#:~:text=To%20position%20the%20divs%20side,%2C%20each%20at%2050%25%20width. -->
        <br>
        <div class="card recipe-float-container">
            <div class="dr-detail-msrmt">
                <ul>
                    {% for m in drink.measurements %}
                    <li style="list-style-type: none;">{{ m }} : </li>
                    {% endfor %}
                </ul>    
            </div>
            <div class="dr-detail-ingr">
                <ul>
                    {% for i in drink.ingredients %}
                    <li style="list-style-type: none;">{{ i }}</li>
                    {% endfor %}
                </ul>    
            </div>
        </div>
        <br>
        <p class="">Instructions: {{ drink.instructions }}</p>
        <p class="">Category: {{ drink.category }}</p>
        <p class="">Glass: {{ drink.glass }}</p>
        </div>
        <!-- Add update and delete -->
        <div class="">
        </div>
    </div>
</div>
<!-- Display reviews -->
<br><br>
<!-- Start review card -->
<div class="card home">
  <div class="">
    <h5>Reviews:</h5>
    {% for review in drink.review_set.all %}
    <div class="">
        <div class="">
            <span class="">{{ review.title }}</span>
            <div>
                <p class="">{{ review.description }}</p>
            </div>
        </div>
        <div class="edit-delete">
            <a href="{% url 'review_update' review.id %}" type="button" class="btn btn-outline-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Edit</a>
            <a href="{% url 'review_delete' review.id %}" type="button" class="btn btn-outline-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Delete</a>
        </div>
        </div>
    {% empty %}
        <p class="">No reviews posted yet</p>
    {% endfor %}
    </div>
<!-- End card card  -->
</div>
<br><br>
   <!-- Add review form on the same page -->
   <!-- Add review card -->
   <div class="card home">
    <!-- add the action attribute as follows -->
    <br><br>
    <h5>Add a New Review:</h5>
    <!-- Style Django form with bootstrap: https://www.youtube.com/watch?v=6-XXvUENY_8 -->
    <table>
        <form action="{% url 'add_review' drink.id %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <div class="button">   
            <input type="submit" class="btn btn-outline-success" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" value="Add Review">
        </div> 
        </form>
    </table>
    <br>
    </div>
</div>

</body> 

{% endblock %}