/* || ** BASE.HTML ** || */

.page-footer {
  padding-top: 0;
  text-align: right;
}

/* || ** HOME.HTML ** || */
.home {
  position: relative;
  display: block;
  padding-top: 30%;
  margin: auto;
}


/* || ** ABOUT.HTML ** || */
.about {
  position: relative;
  display: block;
  padding: 10%;
  margin: auto;
}