{% extends 'base.html' %}

{% block content %}
<body class="" style="background-image: url(''); background-size: cover; background-position: center;"></body>

<div class="about">
<h3 class="">Personalized Cocktail Companion</h3>
<br>
    <p class="">
        Imagine effortlessly transforming your liquor cabinet into a world-class bar, with every cocktail at your fingertips. Meet our groundbreaking app, your key to mixology mastery. With this innovative solution, you can input your list of alcohols and mixers, and it will curate a tailored list of drinks you can create right now. 
    </p>
    
    <p class="">
        Our app takes the guesswork out of mixology, offering a simple yet sophisticated solution. As part of our MVP, you can explore ingredient lists and discover cocktails related to singular ingredients. But we don't stop there - as a stretch goal, we're working to display drinks that match your exact ingredient list. For example, if you possess vodka, Cointreau, Cranberry juice, lime juice, and Jack Daniel’s, our app will pinpoint cocktails like the Cosmopolitan and Cape Cod that you can concoct with ease. 
    </p>
    
    <p class="">
        Elevate your cocktail game, minimize waste, and uncover new favorites with our app. Embrace the future of mixology today!
    </p>
</div>
{% endblock %}