{% extends 'base.html' %}

{% block content %}

<body class="">
    {% if object %}
    <h4 class="">Edit <span class="">{{ drink.name }}</span></h4>
    {% else %}
    <h3 class="">Add a Drink</h3>
    {% endif %}
    
    <!-- Leaving the action empty makes the form post to the same url used to display it -->
    <form class="" action="" method="POST">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
    <input type="submit" value="Submit" class="btn">
    </form>
    <!-- THIS WAS ADDED PER MATERIALIZE TO GET DROPDOWN -->
      <!-- <script> 
        const categoryEl = document.getElementById('id_category');
        M.FormSelect.init(categoryEl);
        const glassEl = document.getElementById('id_glass');
        M.FormSelect.init(glassEl);
      </script> -->
    </body>

{% endblock %}