{% extends 'base.html' %}

{% block content %}
<body class="grey darken-2">
    <div class="col s6">
        {% if object %}
            <h4 class="white-text">Edit <span class='grey-text'>{{ review.title }}</span></h4>
        {% else %}
            <h3 class="white-text">Add a Review</h3>
        {% endif %}
        <!-- add the action attribute as follows -->
            <form class="white-text" action="{% url 'review_update' review.id %}"method="POST">
            {% csrf_token %}
                    <table class="white-text">
                        <p class="reviewUpdate white-text">{{ form.as_p }}</p>
                    </table>
                <input type="submit" class="btn" value="Edit Review">
            </form>
    </div>
</body>
{% endblock %}